<div>
  <h1>My Power Notes</h1>
  <div class="toolbar">
    <button kendoButton [icon]="status" (click)="toggleEditor()">
      {{ status }}
    </button>
  </div>

  <div *ngIf="showEditor">
    <kendo-editor [(value)]="content">
      <kendo-toolbar>
        <kendo-toolbar-buttongroup>
          <kendo-toolbar-button kendoEditorBoldButton></kendo-toolbar-button>
          <kendo-toolbar-button kendoEditorItalicButton></kendo-toolbar-button>
          <kendo-toolbar-button
            kendoEditorUnderlineButton
          ></kendo-toolbar-button>
          <kendo-toolbar-button
            kendoEditorStrikethroughButton
          ></kendo-toolbar-button>
        </kendo-toolbar-buttongroup>

        <kendo-toolbar-dropdownlist
          kendoEditorFormat
        ></kendo-toolbar-dropdownlist>

        <kendo-toolbar-colorpicker
          kendoEditorForeColor
        ></kendo-toolbar-colorpicker>
        <kendo-toolbar-colorpicker
          kendoEditorBackColor
          view="gradient"
        ></kendo-toolbar-colorpicker>
        <kendo-toolbar-buttongroup>
          <kendo-toolbar-button
            kendoEditorInsertUnorderedListButton
          ></kendo-toolbar-button>
          <kendo-toolbar-button
            kendoEditorInsertOrderedListButton
          ></kendo-toolbar-button>
        </kendo-toolbar-buttongroup>

        <kendo-toolbar-buttongroup>
          <kendo-toolbar-button
            kendoEditorCreateLinkButton
          ></kendo-toolbar-button>
        </kendo-toolbar-buttongroup>

        <kendo-toolbar-button
          kendoEditorInsertImageButton
        ></kendo-toolbar-button>
        <kendo-editor-insert-table-button></kendo-editor-insert-table-button>
        <kendo-toolbar-button kendoEditorPrintButton></kendo-toolbar-button>
      </kendo-toolbar>
    </kendo-editor>
  </div>
  <p [innerHTML]="content"></p>
</div>
